.user-header {
  display: flex;
  justify-content: space-between;
  .user-info.album,
  .user-info.photo {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 30px 36px -13px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    border-radius: 8px;
    padding: 20px;
    margin: 5px 5px 5px 0px;
    width: 70%;
  }
  .user-info {
    width: 100%;
    .type-user {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 50px;
        border-radius: 8px;
        margin: 0px 0px 10px 0px;
      }
      span{
        margin-bottom: 0.2rem;
        display: flex;
        align-items: center;
        .icon{
          font-size: 20px;
          margin-right: 6px;
          display: flex;
          align-items: center;
        }
      }
    }

    .type-user.album,
    .type-user.photo {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      img {
        width: 50px;
        border-radius: 8px;
      }
    }
  }
  .user-actions {
    background-color: #fff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 30px 36px -13px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    border-radius: 8px;
    padding: 20px;
    margin: 5px 0px 5px 5px;
    width: 30%;
  }
}
