.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-radius: 8px;
  background-color: #0071e3;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  color: #fff;
  margin-bottom: 15px;
  align-items: center;
  .logo {
    padding: 0px 10px;
  }
  .nav-items {
    span {
      margin: 0px 5px;
      padding: 10px;
      cursor: pointer;
      span {
        font-size: 20px;
        padding: 0px;
        margin: 0px 3px 0px 0px;
      }
    }
  }
}
