/* You can add global styles to this file, and also import other style files */
$primary_btn_color: #0071e3;

button {
  background-color: $primary_btn_color;
  border: #0071e3;
  border-radius: 8px;
  color: #fff;
  font-size: 15px;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.del-btn {
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

form {
  input {
    border-radius: 8px;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d1d5db;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d1d5db;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d1d5db;
}
